@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');



@keyframes pisca {
    0%{ opacity:0.2;}
    50%{ opacity:1;}
    100%{ opacity:0.2;}
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: rgba(219, 172, 192, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:150px 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.urna{
    background-color:#dbd5c9;
    padding:30px;
    display: flex;
    box-shadow:2px 3px 3px rgba(255, 255, 255, 0.801);
}

.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right,#E8E8E8,#C1C1C1);
    border: 3px solid rgba(49, 44, 44, 0.904);
    display: flex;
    flex-direction: column;
}

.teclado{
    background-color:#000000;
    margin-left: 30px;
}

.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-bottom{
    width: 70px;
    height: 40px;
    background-color:#111;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.342);

}

.btn-branco{
    background-color:#fff;
    color: #111;
    font-size:15px;
    font-weight: bold;
}

.btn-corrige{
    background-color:rgba(255, 145, 0, 0.932);
    color: #111;
    font-size:15px;
    font-weight: bold;
}

.btn-confirmar{
    background-color:rgba(7, 255, 7, 0.795);
    color: #111;
    font-size:15px;
    width:90px;
    height: 50px;
    font-weight: bold;
}

.d-1{
    flex: 1;
    display: flex;
}

.d-1-left{
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-left: 10px;
}

.d-1-1{
    height: 50px;
    align-items: center;
    display: flex;
   
}

.d-1-2{
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{
    height: 50px;
    margin-left: 116px;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border:1px solid#111;
    text-align: center;
    line-height:40px;
    font-size:20px;
}

.pisca{
    animation-name: pisca;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex: 1;
    line-height:30px;
}

.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image{
   border: 1px solid #111;
   background-color:#fff;
   text-align: center; 
}
.d-1-image img{
    width:80%;
}
.d-1-image.small{
    width: 80%;
    font-size: 15px;
}
.d-2{
    height: 50px;
    font-size: 13px;
    border-top: 2px solid #111;
    padding-left: 10px;
}

.aviso-nulo{
    font-size:38px;
    font-weight: bold;
    margin-left: 102px;
}
.aviso-fim{
    font-size:70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}